* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
:root {
    --red: darkred;
    --roxo: MediumPurple;
    --gray: DarkGray;
    --black: black;
}

html,
body{
    width: 100%;
    overflow-x: hidden;

}

header{
    width: 100%;
    height: auto;
    background: var(--red);
}
.content{
    max-width: max-content;
    min-width: 100px;
    margin: 0 auto;
    flex-direction: column;
    display: flex;
    padding: 10px;
    justify-content: center;
}

nav {
    width: 100%;
    height: 125px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.brand{
    font-size: 24px;
    color: var(--roxo);
    cursor: pointer;
    text-shadow:#000 -1px -1px
}

nav ul{
    display: flex;
    flex-direction: row;
}

nav ul li{
    list-style: none;
    padding: 10px;
    cursor: pointer;
    color: white;
    text-shadow:#000 -1px -1px /*cor do contorno*/
}

nav ul li a{
    color: var(--blue);
    text-decoration: none;
}

nav ul li a:hover {
    color: #00285f83
}

nav ul button {
    text-shadow:#000;
    border: 3px solid var(--roxo);
    background: transparent;
    padding: 8px 40px;
    cursor: pointer;
    margin-left: 30px;
    color: white;
    font-weight: bold;
    border-radius: 4px;
  }

  nav ul button:hover { /*para poder passar o mouse la em cima*/
    transition: background, color 0.6s; /*quando passar o mouse mudar a cor de fundo do login*/
    background: var(--roxo);
    color: white;
  }

.content .header-block{
    width: 1000px;
    color: white;
    height: 500px;
    background: var(--black);
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    box-shadow: 1px 0px 10px 0px rgb(0, 0, 0 , 0.5);
    -webkit-box-shadow: 1px 0px 10px 0px rgb(0, 0, 0 , 0.5);
    -moz-box-shadow: 1px 0px 10px 0px rgb(0, 0, 0 , 0.5);
    position: relative;
    z-index: 10;
    padding: 10px;
    margin-bottom: 20px;
}
.content .header-block2{
    max-width: 1000px;
    color: white;
    width: max-content;
    height: 300px;
    background: var(--red);
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    box-shadow: 1px 0px 10px 0px rgb(0, 0, 0 , 0.5);
    -webkit-box-shadow: 1px 0px 10px 0px rgb(0, 0, 0 , 0.5);
    -moz-box-shadow: 1px 0px 10px 0px rgb(0, 0, 0 , 0.5);
    position: relative;
    z-index: 10;
    padding: 10px;
    margin-bottom: 20px;
}
.content .header-block3{
    min-width: 1000px;
    color: white;
    width: max-content;
    height: max-content;
    background: var(--red);
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    box-shadow: 1px 0px 10px 0px rgb(0, 0, 0 , 0.5);
    -webkit-box-shadow: 1px 0px 10px 0px rgb(0, 0, 0 , 0.5);
    -moz-box-shadow: 1px 0px 10px 0px rgb(0, 0, 0 , 0.5);
    position: relative;
    z-index: 10;
    padding: 10px;
    margin-bottom: 20px;
}
.checked{
    color: orange;
}
.non-checked{
    color: white;
}
.header-block img{
    height: 100%;
    color: white;
    position: absolute;
    left: 10%;
    padding: 2px 0;
    padding-bottom: 20px;
    border-radius: 8px;
}
.header-block .text{
    position: absolute;
    color: white;
    top: 10%;
    right: 35%;
}
.header-block .text h2{
    color: white;
    margin-bottom: 0px;
    text-align: left;
    transform: translate(-20px);
    transition: transform 0.5;
}
.header-block .text p{
    max-width: 280px;
    color: white;
    text-align: left;
    transform: translate(-20px);
    transition: transform 0.4s;
}
.header-block .text2{
    position: absolute;
    top: 30%;
    color: white;
    right: 0;
}
.header-block .text2 h2{
    color: white;
    margin-bottom: 20px;
    text-align: left;
    transform: translate(-20px);
    transition: transform 0.5;
}
.header-block .text2 p{
    max-width: 280px;
    color: white;
    text-align: left;
    transform: translate(-20px);
    transition: transform 0.4s;
}
.header-block .text3{
    position: absolute;
    top: 40%;
    color: white;
    right: 35%;
    background: rgba(73, 2, 2, 0.432);
    width: 210px;
    height: 220px;
    border-radius: 18px;
}
.header-block .text3 h2{
    color: white;
    margin-bottom: 20px;
    text-align: left;
    transform: translate(10px);
    transition: transform 0.5;
}
.header-block .text3 p{
    max-width: 280px;
    color: white;
    text-align: left;
    transform: translate(10px);
    transition: transform 0.4s;
}
.header-block3 .text5 h2{
    padding-left: 140px;
    color: white;
}
.content table {
    text-align: left;
    color: white;
    display: flex;
    margin: 0 auto;
    width: max-content;
}
.content table th{
    border-top: 1px solid black;
    margin: 0 auto;
    color: white;
    padding-left: 200px;
    padding-right: 30px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 14px;
}
.content table th:first-child{
    padding-left: 30px;
}
footer {/*padronização geral do footer*/
    width: 100%;
    height: 250px;
  }

  footer .rodape { /*configurando a região do rodape*/
    width: 100%;
    height: 200px;
    background: var(--red);
    padding: 20px 10px;
  }

  .rodape-links {
    max-width: 1000px;
    min-width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    margin-left: 13%;/*usei isso para centralizar o conteudo*/
    color: white;
    display: flex;
    align-items: center;
    
  }

  .companhia,
  .aluguel,
  .contatos,
  .redes-sociais {
    color: white;
    height: 100%;
    min-height: 100px;
  }

  .rodape-links h4 {
    margin-bottom: 10px;
  }
  
  .rodape-links {
    margin-bottom: 8px;
    
  }
  
  .rodape .redes-sociais img {
    width: 32px;
    height: 32px;
  }

  footer .final {
    width: 100%;
    height: 50px;
    background: var(--black);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }